.main_box_container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%; 
    /* margin-top: 5%; */
    height: auto;
    width: 100%;
    
    
}
.inner_container{
    
    
    border: 1px solid green;
    margin-top: 3%;
    border-radius: 4px;
    margin-bottom: 2%;
}
.testname{
    font-size: xx-large;
    padding: 20px;
    font-weight:600;
}



@media screen and (max-width:1240px) {
    .main_box_container{
        margin-top: 10%;
    }
}
@media screen and (max-width:850px) {
    .main_box_container{
        margin-top: 15%;
    }
}
@media screen and (max-width:580px) {
    .main_box_container{
        margin-top: 20%;
    }
}
@media screen and (max-width:391px) {
    .main_box_container{
        margin-top: 25%;
    }
}